<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Exemplo de aplicação</title>
<style>
        .table .left {
            text-align: left;
        }

        .table .table td,
        .table .table th {
            border: 1;
            font-weight: 300;
        }

        .table tr:nth-child(odd) {
            background-color: hsl(216, 87%, 69%);
        }

        .table th,
        .table tr:nth-child(even)  {
            background-color: #66d8ac;
        }

       
   </style>
</head>
<body>

    {{{body}}}

</body>
</html>
